<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../lib/functions.inc.js"></script>

<!DOCTYPE html>
<html lang="en" dir="ltr" >
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon1.png"/>
</head>
<script src="https://cdn.auth0.com/js/auth0-spa-js/1.19/auth0-spa-js.production.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>
// The Auth0 client, initialized in configureClient()
  let auth0 = null;
const configureClient = async () => {
  auth0 = await createAuth0Client(
      fetchCredentials()
  );
};

window.onload = async () => {
await configureClient();

const isAuthenticated = await auth0.isAuthenticated();
const usr = await auth0.getUser();
var accType = usr['http://Donating-App/roles'][0];
accType = "refugee";
console.log(usr);
if (isAuthenticated) {
  console.log("> User is authenticated");
  document.getElementById('nameTitle').innerHTML = usr.name;
  document.getElementById('profilePhoto').src = usr.picture;
  var data = {};
  return;
} else {
  loginButton(auth0);
}

console.log("> User not authenticated");
const query = window.location.search;
if (query.includes("code=") && query.includes("state=")) {

  // Process the login state
  await auth0.handleRedirectCallback();

  // Use replaceState to redirect the user away and remove the querystring parameters
  window.history.replaceState({}, document.title, "/");
}

};

</script>
<body style=" background-size: cover; background-image: url('../assets/imgs/war.jpg'); ">
<link rel="stylesheet" href="../style/style_refugee.css">
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar fadeInDown" id="formContent">
                <div class="profile-userpic">
                    <img  id="profilePhoto" class='img-responsive' alt=''>
                </div>
                <div class="profile-usertitle">
                    <div id="nameTitle" class="profile-usertitle-name">
                        
                    </div>
                    <div class="profile-usertitle-job">
                        Refugee
                    </div>
                </div>
                <div class="profile-userbuttons">
                </div>
                <div class="profile-usermenu">
                     <ul class="nav">
                        <li>
                            <a href="/views/homepage">
                                <i class="glyphicon glyphicon-arrow-left"></i>
                                Main Page </a>
                        </li>
                        <li >
                            <a href="/views/refugee/profile">
                                <i class="glyphicon glyphicon-home"></i>
                                My profile </a>
                        </li>
                        <li style="position:relative; right:9px;">
                            <a onClick="logoutButton(auth0);">
                                <i class="glyphicon glyphicon-flag"></i>
                                Logout </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
     
        <div class="col-md-9">
            <div style="background:#149cf000; height:700px;"class="profile-content" >
                            
              <ul id="menu" >
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li style="visibility: hidden; float:none; left: 100px; position:relative;"><button style="visibility: visible; max-width:500px;" class="button-21" role="button"><a href="/views/offer/view">View offers</a></button></li>
                <li style="visibility: hidden; float:none; left: 100px; top:20px; position:relative;"><button style="visibility: visible; max-width:500px;" class="button-21" role="button"><a href="/views/request/my_requests">My requests</a></button></li>
                <li style="visibility: hidden; float:none; left: 100px; top:40px; position:relative;"><button style="visibility: visible; max-width:500px;" class="button-21" role="button"><a href="/views/history">History</a></button></li>
                <li style="visibility: hidden; float:none; left: 100px; top:60px; position:relative;"><button style="visibility: visible; max-width:500px;" class="button-21" role="button"><a href="/views/homepage">Homepage</a></button></li>
                <li style="visibility: hidden; float:none; left: 100px; top:70px; position:relative;"><button style="visibility: visible; max-width:500px;" class="button-21" role="button"><a  onClick="logoutButton(auth0);" >Sign out</a></button></li>
              </ul>

            </div>
        </div>
    </div>
</div>
<br>
<br>
